@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


:root{
    --colorLetters: white;
    --colorBlackLetters: black;
    --colorBackground: rgb(46, 45, 45);
    --colorPrincipal: rgb(20, 109, 187);
    --boxColor : rgb(0 119 255);
    
}

#body{
    color: var(--colorBlackLetters);
    background-image: url("../img/v1016-b-09.jpg");

}

html{
    margin: 0;
    padding: 0;
    font-size: 62, 5%;

}

.navbar-brand{
    font-size: 0.2rem !important
}
/* dark styles */ 

.dark{
    color:var(--colorLetters);
    background-image: url("../img/v1016-b-09.jpg");
    z-index: -10;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}


.swipper_container_mb{
    display: none;
}

/* nav-bar styles HERE */
.container-fluid{
background-color: rgb(66, 65, 65);
border-radius: 23px 30px 26px 24px;
}
.nav-item a{
    color: var(--colorLetters)

}
.nav-item a:hover{
    color: var(--colorPrincipal)

}
.active{
    color: var(--colorLetters) !important
}
.active:hover{
    color: var(--colorPrincipal) !important
}

.navbar-text{
    color: var(--colorLetters) !important

}
.navbar-text:hover{
        color: var(--colorPrincipal) !important;
        cursor: pointer;
}

.navbar-brand{
    margin-left: 1rem;

}
.navbar{
    margin: 3rem;
    border-radius: 2rem;
    
}
.fa-code {
    font-size: 1rem;
    color: var(--colorPrincipal);

}

/* type-script */

.titulo{
    margin-top: 15%;
    margin-left: 27%;
}


#nightMode{
    border: none;
}


.h2-about{
    text-align: center;
    margin-top: 6rem;
}

.p-about{
    margin-top: 5%;
    width: 71%;
    margin-left: 19%;

}

/* TYPED */ 
.container-typed{
    display: flex;
    gap: 10%;
    align-items: center;
}
.contenedor-img img{
    width: 33rem;
    height: auto;
    margin-left: 25%;
    animation-name: float;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 1rem;
    box-shadow: 0 0 35px var(--colorPrincipal);
    border-radius: 30%;

}

@keyframes float {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 13%); }
    100%   { transform: translate(0, -0px); }   
}

.skill{
    font-weight: bold;
    color: var(--colorPrincipal);

}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cv-d{
    color: var(--colorPrincipal);
    opacity: 60%;
    position: relative;
    left: 3rem;
    border: none;
    background: none;
    font-weight: bolder;
}
.cv-d a{
    text-decoration: none;
}

.cv-d:hover{
    color: var(--colorPrincipal);
    scale: 1.2;
    opacity: 100%;
    transition: 1000ms;

}


/* CARDS PROYECTS Desktop*/ 

.h2-proyect{
    text-align: center;
    padding-top: 10%;
    font-weight: bolder;
    text-decoration: underline;
}
.proyects_container{
    margin-top: 4rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 0.1fr);
    grid-template-rows: repeat(3, 0.1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
}

.proyects_container h3{
    font-size: 1rem;
    font-weight: bold !important;
}

.div_proyect{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10%;
    height: 100%;
    padding: 1rem;
    box-shadow: 0 0 10px var(--boxColor)
}

.div_proyect a {
    text-decoration: underline;
    padding: 4%;
    font-weight: bolder;
    color: white;
}

.div_proyect p {
    text-align: center;
    margin: 6%;
}
.div_proyect img {
    height: 8rem;
    width: 9rem;
      
}
.Java img{
    margin-bottom: 1.2rem;
}
.div_proyect:hover{
    transform: scale(1.05);
    transition: 2500ms;
}
.div_proyect h3 {
    font-size: 1,5rem;

}


/* CARDS PROYECTS mobile*/ 

@media screen and (max-width: 955px){

    .dark{
        background-size: cover;

    }
    .navbar{
        margin: 1rem;

    }
    .nav-item a{
    font-size: 0.5rem;
    
    }
    .navbar-toggler{
        scale: 0.6;
    }
    .navbar-text{
        font-size: 0.3rem;
    }

    .proyects_container{
        display: grid;
        grid-template-columns: repeat(2, 0.3fr);
        grid-template-rows: repeat(3, 0.1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
    }

    .proyects_container h3{
        font-size: 0.5rem !important;
    }
    .div_proyect{
        width: 90%;
        height: auto;
    }


    .div_proyect a {
    text-decoration: none;
    font-size: 0.6rem;
    font-weight: bolder;
    padding: 0 2px;
    }
    .div_proyect p {
        text-align: center;
        font-size: 0.6rem;
        word-break:break-all;
    }
    .div_proyect img {
        height: 3rem;
        width: 3.8rem;
    }
    .Java img{
        margin-bottom: 0rem !important;
    }

    .div_proyect:hover{
        transform: scale(1.05);
        transition: 2500ms;
    }
    .div_proyect h3 {
        font-size: 0.8rem;
    }
    .titulos{
        font-size: 0.8rem;

    }
    .mySkills{
        margin-bottom: 2.5rem !important;
    }


.contenedor-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .contenedor-img img{
        width: 8rem;
        height: auto;
        animation-name: float;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
    .contenedor-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .container-typed{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 1.2rem;
    }
    .titulo {
        margin-top: 11%;
        margin-left: 16%;
        right: 74%;
        font-size: 0.8rem;
    }
    .p-about{
        font-size: 0.7rem;
    }
    .cv-d{
        color: var(--colorPrincipal);
        opacity: 60%;
        position: relative;
        bottom: 1.07rem;
        left: 1rem;
        border: none;
        background: none;
        font-weight: bolder;
        font-size: 0.5rem;
    }

    .col{
        font-size: 0.6rem;
    }
    .sk_d{
        word-break:break-all;
        font-size: 0.5rem;
    }

    /* FORM */
    .contact_h2 {
        margin-top: 3.5rem !important;

    }
    .containter_contact{
        margin-top: 2rem !important;
    }



    #nombre{
        width: 15rem !important;
        background: none;
        color:var(--colorLetters);
    }
    #email{
        width: 15rem !important;
        background: none;
        color:var(--colorLetters);
    }
    #comments{
        width: 15rem !important;
        background: none;
        color:var(--colorLetters);
    }
    .img-contact img{
        display: none;
    }
    footer p {
        font-size: 0.5rem !important;
        margin-top: 1.9rem !important;
    }
    
    .redes_container i{
        font-size: 1rem;
    }
    .redes_container{
        margin-right: 1rem !important;
        gap: 10px !important;
    }
    .wk{
        flex-direction: row !important;
    }
    .nombreError  {
        font-size: 0.5rem;
    }
    .emailError{
        font-size: 0.5rem;
    }
    .commentsError{
        font-size: 0.5rem;
    }
    .agradecer{
        font-size: 0.5rem;
        width: 15rem;
    }

    .informacion_proyectos{
        font-size: 0.4rem;
        width: 100% !important;
        font-weight: normal !important;
        letter-spacing: normal  !important; 
    }
    .h2_descripcion{
        font-size: 0.7rem !important;
    }

    .more{
        font-size: 0.5rem !important;
    }

    .container_informacion{
        margin-left: 2rem !important;
    }
    .d-java{
        margin-top: 1rem !important;
    }
    .Java a {
        margin-top: 0.5rem;
    }



    }

    /* FIN MOBILE */


/*Skills */ 



.mySkills{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 7%;
    font-weight: bolder;
    text-decoration: underline;
}

.g1{
    border-radius: 10%;
    width: 80%;
    cursor: pointer;
}

.b{
    margin-top: 14%;
}
.g1 img{
    width: 38%;
    height: auto;
}

.sk_d{
    font-weight: bolder;
}

/*SHADOW BOXS */ 
.c1{
    box-shadow: 1px 6px 7px 0px blue;
}
.c1:hover{
    box-shadow: 1px 6px 20px 0px blue;
}

.c2{
    box-shadow: 1px 6px 7px 0px  rgb(255, 123, 0 );
}
.c2:hover{
    box-shadow: 1px 6px 20px 0px  rgb(255, 123, 0 );
}
.c3{
    box-shadow: 1px 6px 7px 0px  rgb(11, 155, 212);
}
.c3:hover{
    box-shadow: 1px 6px 20px 0px  rgb(11, 155, 212);
}

.c4{
    box-shadow: 1px 6px 7px 0px  rgb(250, 246, 14);
}
.c4:hover{
    box-shadow: 1px 6px 20px 0px  rgb(250, 246, 14);
}

.c5{
    box-shadow: 1px 6px 7px 0px  rgb(11, 212, 212);
}
.c5:hover{
    box-shadow: 1px 6px 20px 0px  rgb(11, 212, 212);
}

.c6{
    box-shadow: 1px 6px 7px 0px  rgb(222, 125, 231);
}
.c6:hover{
    box-shadow: 1px 6px 20px 0px  rgb(222, 125, 231);
}
.c7{
    box-shadow: 1px 6px 10px 0px  rgb(96, 12, 121);
}
.c7:hover{
    box-shadow: 1px 6px 20px 0px  rgb(95, 12, 121);
}
.c8{
    box-shadow: 1px 6px 10px 0px  rgb(21, 121, 12);
}
.c8:hover{
    box-shadow: 1px 6px 20px 0px  rgb(60, 255, 0);
}

.c9{
    box-shadow: 1px 6px 10px 0px  rgba(30, 202, 191, 0.682);
}
.c9:hover{
    box-shadow: 1px 6px 10px 0px  rgb(12, 234, 219);
}

/* CONTACTO */

.contact_h2{
    text-align: center;
    margin-top: 10%;
    font-weight: bolder;
    text-decoration: underline;

}

/* CONTACT  */

.containter_contact{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}
.containter_contact img {
    animation-name: float;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 30%;
    margin-left: 20rem;
}

.proyect_link{
    text-decoration: underline var(--colorPrincipal) !important ;

}
/* FORM */
form{
    display: flex;
    flex-direction: column;
}

#nombre{
    width: 32rem;
    background: none;
    color:var(--colorLetters);
}
#email{
    width: 32rem;
    background: none;
    color:var(--colorLetters);
}
#comments{
    width: 32rem;
    background: none;
    color:var(--colorLetters);
}
#nombre::placeholder{
    color: var(--colorLetters)
}
#email::placeholder{
    color: var(--colorLetters)
}
#comments::placeholder{
    color: var(--colorLetters)
}

.btn-container{
    display: flex;
    justify-content: space-around;
}

.form-btn{
    width: 50%;
    background:none;
    color: var(--colorPrincipal);
    font-weight: bolder;
    border: 2px solid white;
    border-radius: 19px 21px 24px 20px;
}

.wk{
    display: flex;
    gap: 0.5rem;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
}
.wk i {
    font-size: 0.8rem;
    cursor: pointer;
}

/* footer */

footer{
    display: flex;
    justify-content: space-around;
    margin-top: 8rem;
    align-items: center;
    background-color: rgba(5, 41, 73, 0.288);

}
footer p {
    font-size: 0.8rem;
    margin-right: 13%;
    margin-top: 1.2rem;
}

.redes_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-right: 10rem;
}

.redes_container a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    margin-top: 0.4rem;
}

.redes_container i:hover{
    color: var(--colorPrincipal);
    scale:1.5;
    transition: 1000ms
}
.i3{
    color: var(--colorPrincipal);
}

.informacion_proyectos{
    display: none;
    width: 40%;
    font-size: 0.9rem;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.ab{
    display: flex;
    position: relative;
}

.container_informacion{
margin-left: 7rem;
}

.more{
    font-weight: bolder !important;
    font-size: 1.2rem;
}

.d-java{
    margin-top: 6rem;
}

.h2_descripcion{
    font-size: 1rem;
    text-decoration: underline  1px  var(--colorPrincipal);
}
