.presentationContainer {
	display: flex;
	flex-direction: row;
	height: 80vh;
	align-items: center;
	gap: 7rem;
	justify-content: center;
	width: 100%;

}


.imgPresentationContainer {
	z-index: 1;
}

.imgPresentationContainer img {
	width: 30rem;
	height: auto;
}

.redes {
	display: flex;
	gap: 1rem;
	justify-content: flex-start;
	align-items: center;
	color: #fcfcfc;
	flex-direction: row;
	width: 100%;
}

.redes a {
	color: #fcfcfc;
	font-size: 1.5rem;
}

.redes a:hover {
	color: var(--colorPrincipal);
}
@keyframes float {
	0% { transform: translate(0,  0px); }
	50%  { transform: translate(0, 13%); }
	100%   { transform: translate(0, -0px); }   
}

.hola {
	color: orange;
	font-size: 4rem;
	text-align: justify;
}

.holaSoy {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-size: 2rem;
}

.titleName {
	font-size: 2rem;
	color: #fcfcfc;
	border: 2px solid rgb(248, 169, 22);
	padding: 0.5rem;
	border-radius: 1rem;

}

.textContainerPresentation {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 0.5rem;
	color: #fcfcfc;

}

.typedText {
	color: rgb(154, 208, 121);
	;
	font-weight: bolder;
	font-size: 2rem;
}

.cv {
	color: #fcfcfc;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;

}

.cvContainer {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	width: 100%;
}

@media (max-width: 760px) {
	.presentationContainer {
		gap: 0.5rem;
		flex-direction: column;
		margin-block-start: 4rem;
		justify-content: start;
	}

	.textContainerPresentation {
		margin-top: 10%;
		padding: 1rem;
		align-items: flex-start;
		justify-content: center;
		gap: 1rem;
	}

	.hola {
		font-size: 2rem;
	}

	.holaSoy {
		font-size: 1.5rem;
	}

	.titleName {
		font-size: 1rem;
	}

	.typedText {
		font-size: 1.5rem;
	}



}


@media (min-width: 760px) and (max-width: 1000px) {

	.imgPresentationContainer img {
		width: 20rem;
	}

	.hola {
		font-size: 3rem;
	}

	.holaSoy {
		font-size: 1.5rem;

	}

	.titleName {
		font-size: 1.5rem;
	}

	.typedText {
		font-size: 1.5rem;
	}

}

