.presentationContainer {
	margin-top: 3rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}


.imgPresentationContainer {
	display: flex;
}

.imgPresentationContainer img{
	width: 33rem;
	height: auto;
	animation-name: float;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-top: 1rem;
	box-shadow: 0 0 35px var(--colorPrincipal);
	border-radius: 30%;

}

@keyframes float {
	0% { transform: translate(0,  0px); }
	50%  { transform: translate(0, 13%); }
	100%   { transform: translate(0, -0px); }   
}
.hola{
	color: rgb(47, 47, 218);
	font-size: 4rem;
	text-align: justify;
}
.holaSoy{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-size: 2rem;
}
.titleName{
	font-size: 2rem;
	color: white;
	border: 2px solid orange;
	padding: 0.5rem;
	border-radius: 1rem;

}

.textContainerPresentation{
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.3rem;
	color: white;
	
}
.typedText{
	color: green;
	font-weight: bolder;
	font-size: 2rem;
}

.cv{
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-size: 1.3rem;
}
.cvContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}




@media (max-width: 760px) {
  .presentationContainer{
		flex-direction: column;

	}
	.textContainerPresentation{
		margin-top: 10%;
		padding: 1rem;
		align-items: center;
		justify-content: center;
	}
	.imgPresentationContainer img {
		width: 16rem;
	}

	.hola{
		font-size: 3rem;
	}

	.holaSoy{
		font-size: 1.5rem;
		flex-direction: column;
	}
	.titleName{
		font-size: 1.5rem;
	}

	.typedText{
		font-size: 1.5rem;
	}
}


@media (min-width: 760px) and (max-width: 1000px){
	.imgPresentationContainer img {
		width: 20rem;
	}
	.hola{
		font-size: 3rem;
	}

	.holaSoy{
		font-size: 1.5rem;

	}
	.titleName{
		font-size: 1.5rem;
	}

	.typedText{
		font-size: 1.5rem;
	}
}