.titleProject {
	text-align: center;
	color: #fcfcfc;
	text-decoration: underline var(--colorPrincipal);
	margin-block-end: 3rem;
}

.cardContainer {
	display: flex;
	gap: 1rem;
}


@media (max-width: 400px) {


	.titleProject {
		font-size: 1.5rem;

	}
}