/* navbar.module.css */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.iconMax {
  flex: 1;
}

.ulNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 2;
  color: white;
  position: relative; 

}

.ulNavbar li {
  padding: 0 15px;
}

.hamburger_div{
	display: none;
}


@media (max-width: 760px) {
  .ulNavbar {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateX(-100%); 
    transition: transform 0.3s ease-in-out;
    flex-direction: column;
    padding: 1rem;
    display: none;
		gap: 1rem;
    display: none; 
    z-index: 2;
  }
  .ulNavbar li:hover {
    color: var(--colorPrincipal);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    
  }
  .ulNavbar.open {
    transform: translateX(0); 
    display: flex;
  }

  .hamburger-react {
    position: fixed;
    top: 20px;
    right: 20px;
    display: block;
  }
  .hamburger_div{
    z-index: 3 !important;
    display: block;
  }
}
