.footer{
	display: flex;
	color: white;
	justify-content: space-evenly;
	padding: 1rem;
	gap: 5rem;
	border: 1px solid rgba(0, 0, 0, 0.336);
	margin-top: 1rem;

}

.a{
	text-decoration: none;
	font-weight: bold;
	color: green;
	text-decoration: underline;
}

.redes{
	display: flex;
	gap: 1rem;
}
.footerContainer{
	width: 100%;
}
.ab{
	color: white;
	font-size: 1.5rem;
}

.ab:hover{
	color: var(--colorPrincipal);
}

@media (max-width: 500px) {
	.footer{
		justify-content: center;
		align-items: center;
		gap: 1rem;
		width: 100%;
	}
	.footerContainer{
		width: 100%;
	}

	.redes{
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}

	.ab{
		font-size: 1rem;
	}

	.a{
		font-size: 0.8rem;
	}

	.desing{
		font-size: 0.8rem;
	}

}