.footer {
	display: flex;
	color: #fcfcfc;
	justify-content: space-evenly;
	padding: 1rem;
	gap: 5rem;
	border: 1px solid rgba(0, 0, 0, 0.336);
	margin-top: 1rem;
}

.a {
	text-decoration: none;
	font-weight: bold;
	color: rgb(154, 208, 121);
	text-decoration: underline;
}

.redes {
	display: flex;
	gap: 1rem;
}

.footerContainer {
	width: 100%;
}

.ab {
	color: #fcfcfc;
	font-size: 1.5rem;
}

.ab:hover {
	color: var(--colorPrincipal);
}

@media (max-width: 500px) {
	.footer {
		gap: 1rem;
	}

}