@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}


img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}


input,
button,
textarea,
select {
	font: inherit;
}


p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}


p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}


#root,
#__next {
	isolation: isolate;
}

:root {
	--colorLetters: #fcfcfc;
	--colorBlackLetters: black;
	--colorBackground: rgb(46, 45, 45);
	--colorPrincipal: rgb(20, 109, 187);
	--boxColor: rgb(0 119 255);
}

.decorationOff {
	text-decoration: none;
	color: inherit;

}

.body {
	background-image: url(/background1.svg);
	background-position: left;
	background-repeat: space;
	background-size: cover;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
	z-index: 0;
	height: 100%;

}


.normalText {
	color: var(--colorLetters);
}

.title {
	color: #fcfcfc;
	font-size: 2rem;
}

::-webkit-scrollbar {
	width: 13px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}